PS1='\W § '

alias p='echo $PWD'
alias l='ls -la'
alias r='source ~/.bashrc'

alias xclippy='xclip -o -sel clipboard'
alias kctl='kubectl'
alias watch='watch '
alias watch10='watch -n10 '
alias watch60='watch -n60 '
alias watch300='watch -n300 '
