

is_ignored() {
  git check-ignore --non-matching --verbose $1 > /dev/null
}

is_git() {
  echo $1 | grep -Eq \.git.*
}

if ! is_ignored "dingdong"
then
  echo "hello dingdong"
fi

on_change() {
  inotifywait -rmq . --format "%w%f" --event CLOSE_WRITE |
  while read line;
  do
    if ! is_ignored $line &&
       ! is_git $line
    then
      $1 $line
    fi
  done
}

REMOTE_DIR=~/remote
COPY=scp

do_copy() {
  echo "moving $1..."
  set -x
  $COPY $1 $REMOTE_DIR/$1
  set +x
}

move_remote() {
  on_change do_copy
}
